<%- include('includes/head.ejs') %>

<link rel="stylesheet" href="/css/WebGLView/root.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/97/three.min.js"></script>

<script src="/js/WebGLView/Objects/Settings.js"></script>
<script src="/js/WebGLView/Objects/Door.js"></script>
<script src="/js/WebGLView/Objects/Hexagon.js"></script>
<script src="/js/WebGLView/Objects/Wall.js"></script>
<script src="/js/WebGLView/Objects/Enemy.js"></script>
<script src="/js/WebGLView/Objects/Treasure.js"></script>
<script src="/js/WebGLView/Objects/Light.js"></script>
<script src="/js/WebGLView/Objects/Model.js"></script>
<script src="/js/WebGLView/_Connection.js"></script>
<script src="/js/WebGLView/WebGLCreator.js"></script>
<script src="/js/WebGLView/MainGame.js"></script>

</head>

<body>
    <%- include('includes/header.ejs') %>

    <div class="row d-flex flex-row">

        <div class="col-md-2" id="OptionsMenu">

            <div class="form-group">
                <input type="text" class="form-control" id="LightIntensity" value="Intensity: 1" disabled>
                <input type="range" class="form-control-range" id="LightIntensityRange" min=1 max=3.5 step=0.5 value=1>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="LightPosition" value="Position: 4" disabled>
                <input type="range" class="form-control-range" id="LightPositionRange" min=1 max=15 step=1 value=4>
            </div>

        </div>

        <div class="col-md-10" id="MainWebGLRoot"></div>

        <%- include('includes/end.ejs') %>